body{
      
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: x-large;
    background-color:  rgb(30,144,255);

    
}

h1{
    font-size: 50px;
}

h2, 
h3{
  
}

ul{
    text-align: left;
    list-style-position: inside;
    padding-left: 100px;
    padding-right: 100px;
}

#devTeam{
    padding-top: 100px;
}

#ethan,
#andrew,
#carl,
#ash{
    border-style: solid;
    border-bottom: none;
}

#ethan,
#ash{
    display: grid;
    grid-template-columns: auto, auto;
    font-size: large;
    border-color: rgb(30,144,255);
    border-width: 20px;
    background-color: #383838;
    color: white
}

#carl,
#andrew,
#larry{
    display: grid;
    grid-template-columns: auto, auto;
    font-size: large;
    border-color: rgb(30,144,255);
    border-width: 20px;
    background-color: #383838;
    color: white
}

#carlBio,
#ethanBio,
#andrewBio,
#ashBio,
#larryBio{
    padding-left: 20px;
    padding-right: 20px;
}

#name{
    font-size: x-large;
    text-decoration: underline;
}

#ethan{
    grid-template-areas: 
            "ethanPic ."
            "ethanPic ethanBio"
            "ethanPic .";
    border-bottom: none;
}
#ethanPic{
    grid-area: ethanPic;
}
#ethanBio{
    grid-area: ethanBio;
}


#andrew{
    grid-template-areas: 
            ". andrewPic"
            "andrewBio andrewPic"
            ". andrewPic";
    border-bottom: none;
}
#andrewPic{
    grid-area: andrewPic;
}
#andrewBio{
    grid-area: andrewBio;
}


#carl{
    grid-template-areas: 
            ". carlPic"
            "carlBio carlPic"
            ". carlPic";
    border-bottom: none;
}
#carlPic{
    grid-area: carlPic;
}
#carlBio{
    grid-area: carlBio;
}


#ash{
    grid-template-areas: 
            "ashPic ."
            "ashPic ashBio"
            "ashPic .";
    border-bottom: none;
}
#ashleighPic{
    grid-area: ashPic;
}
#ashleighBio{
    grid-area: ashBio;
}


#larry{
    grid-template-areas: 
            ". larryPic"
            "larryBio larryPic"
            ". larryPic";
    border-style: solid;
}
#larryPic{
    grid-area: larryPic;
}
#larryBio{
    grid-area: larryBio;
}


#Home{
    color:  #383838;
    font-weight: bold;
}
#Interviews{
    color:  #383838;
    font-weight: bold;
}

  
.col-4{
        background-color:  rgb(30,144,255);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1%;
    padding-bottom: 1%;
}
.col-8{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:  #383838;
   color: white;
   padding: 5%;
    
}
#rightSide{
    border-left:solid 10px rgb(28,28,240)
}


#leftSide{
    border-right:solid 10px rgb(28,28,240)
}

#part2{

    border-color:rgb(30,144,255) ;
    background-color:rgb(30,144,255) ;
    color: white
}

.headercontainer{

    background-color: rgb(30,144,255);
    
}

#slogancontainer{
    background-color:rgb(30,144,255);
    color: white ;
    border-right: solid 10px rgb(28,28,240);
    border-left: solid 10px rgb(28,28,240);

    display: flex;
   justify-content: center;
   align-items: center;
    padding: 3%;
    min-height: 250px;

}
#SloganTitle{
    padding-right:5%;
    font: size 25px; 

}

#slogan{
    padding: 3%;
    border-right: solid 10px rgb(28,28,240);
    min-width: 14%;
}

#productvision{
    padding: 3%;
}
#productvisiontitle{
    padding: 3%;
}

#Feature1{
    background-color: rgb(30,144,255);
    display: flex;
   height: 100px;
   border-top: none;
}

#Feature2{
    background-color: rgb(30,144,255);
    display: flex;
    height: 100px;
}

#Feature3{
    background-color: rgb(30,144,255);
    display: flex;
    height: 100px;
}

#Feature4{
    background-color: rgb(30,144,255);
    display: flex;
    height: 120px;
}

#Feature5{
    background-color: rgb(30,144,255);
    display: flex;

}

#ProductFeaturesTitle{
    background-color: rgb(30,144,255);
    align-items: center;
   color: #383838;
    text-align: center;
 

   
}

#PitchContainer{
    background-color:rgb(30,144,255);
    text-align: center;
    vertical-align: middle;
    height: 75px;
    padding-top: 1%;
    padding-top: 1%;
    color: #383838;

    
  
}

#bios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:rgb(30,144,255);


}

#devTeam{
   text-align: center;
   justify-content: center;
   background-color:rgb(30,144,255);
   padding-bottom: 1%;
   padding-top: 1%;
   color: #383838;
}