#wrapper{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: x-large;
    background-color:  #1e90ff;
    min-height: 100%;
    width: 100vw;
}

body{
    background-color:  #1e90ff;
}

#welcome{
    color:white;
    font-weight: bolder;
    background-color: #383838;
}


#yourRoster,
#draft{
    color: black;
}


.d-flex{
    display: flex!important;
    background-color: #1e90ff;
}

#draftContent{
    width: 80%;
}
#draft{
    width: 100%;
}


.btn-group{
    align-self: center!important;
}

small{
    padding-right: 15px;
}

.card{
    background-color: #383838!important;
    color: white!important;
}

.card-body{
    align-items: center;
}

#draftPlayer{
    background-color: white;
    color:#1e90ff;
    font-weight: bold;
}

.col{
    max-width: 300px!important;
}

.row{
    justify-content: center!important;
}

#namepos{
    display: block;
}

#yourRoster{
    display: grid;
    grid-template-areas: 
                "team team team"
                "positions names school";
    grid-template-rows: auto auto;
    grid-template-columns: 33% 33% 33%;
    height: auto;
    width: 100%;
    background-color: #383838;
    color: white;

}

#names{
    grid-area: names;
    padding-left: 15px;
    max-width: 100%;
    padding-top: 20px;
    border-top: solid 10px #1e90ff;

}
#yourPlayerNames{
    width: auto;
    text-align: center;
}

#positions{
    grid-area: positions;
    padding-right: 15px;
    width: 100%;
    padding-top: 20px;
    border-top: solid 10px #1e90ff;
}

#yourPlayerPositions{
    width: auto;
    text-align: center;
    float: right;
}

.teamName{
    padding-top: 15px;
    grid-area: team;
}


#school{
    grid-area: school;
    padding-left: 15px;
    max-width: 100%;
    padding-top: 20px;
    border-top: solid 10px #1e90ff;

}
#yourPlayerSchool{
    width: auto;
    text-align: center;
    float:left;
}
